@use 'variables';

.header__nav__dropdown {
  position: absolute;
  right: 4px;
  font-size: 0.8rem;
  color: variables.$font-white;
  padding-top: 10px;
}

.header__nav__dropdown a {
  text-decoration: none;
  color: variables.$font-white;
}

.profile__nav__header__ul {
  position: absolute;
  right: -4px;
  list-style: none;
  margin-top: 2px;
  padding: 7px;
  width: 90px;
  background-color: variables.$dark-red;
  border-radius: 0 0 7px 7px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.profile__nav__header__li {
  padding-bottom: 5px;
}

.header__nav__button__icon {
  width: 30px;
}

.header__nav__dropdown button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}

.profile__main__dates {
  display: flex;
  margin-top: 25px;
  margin-left: 20px;
}

.profile__main__dates__picture {
  width: 120px;
  border: solid black 1px;
  border-radius: 3px;
}

img {
  width: 100%;
  display: block;
}

.profile__main__dates__strings {
  margin-left: 10px;
  margin-right: 20px;
  color: variables.$dark-red;
}

p {
  margin-top: 0;
}

.profile__main__dates__strings__description {
  font-size: 0.6rem;
}

.profile__main__bio {
  width: 85%;
  margin-top: 10px;
  margin-left: 20px;
  padding: 3px;
  color: variables.$dark-red;
  font-size: 0.9rem;
  background-color: rgba(245, 244, 244, 0.89);
  margin-right: 20px;
  border-radius: 7px;
}

.profile__main__search {
  margin-top: 110px;
  margin-left: 30px;
  color: variables.$dark-red;
}

.profile__main__search__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
}
