@use 'base';
@use 'variables';
@use 'profile';
@use 'signin_form';
@use 'register_form';
@use 'swarm';
@use 'errorbox';

body {
  width: 375px;
  background-image: url("../assets/waves_high.png");
  background-repeat: no-repeat;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  background-size: 100%;
  background-position-y: bottom;
  background-attachment: fixed;
  font-family: variables.$primary-font;
}

@media only screen and (min-device-width: 400px) {
  body {
    background-image: url("../assets/background_desktop_2.png");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    background-size: 100%;
    background-position-y: bottom;
    background-attachment: fixed;
  }
}

@media only screen and (min-device-width: 580px) {
  body {
    background-image: url("../assets/background_desktop.png");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    background-size: 100%;
    background-position-y: bottom;
    background-attachment: fixed;
  }
}

header {
  display: flex;
  justify-content: center;
  background-color: variables.$dark-red;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.header__nav__logo {
  width: 200px;
  padding-top: 7px;
  padding-bottom: 10px;
}

.header__nav__button {
  right: 4px;
  font-size: 1.2rem;
  color: variables.$font-white;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: variables.$dark-red;
  border: none;
}

.main__h1 {
  text-align: center;
  padding: 40px;
  margin-top: 70px;
  color: variables.$dark-red;
}

footer {
  display: flex;
  justify-content: center;
  background-color: variables.$dark-red;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 50px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.footer__nav__button {
  margin-left: 10px;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  background-color: variables.$dark-red;
  border: none;
}

.footer__nav__button--active {
  background-color: #681500;
  border: none;
}

.footer__nav__button__img {
  width: 100%;
  border: none;
}
