@use 'base';
@use 'variables';
@use 'signin_form';

body {
  background-image: url("../assets/waves-parfish.png");
  background-size: 400px;
  background-repeat: no-repeat;
  background-position-y: 100px;
  font-family: variables.$primary-font;
}

.header__nav {
  display: flex;
  background-color: variables.$dark-red;
}

.header__nav__logo {
  width: 200px;
  padding-top: 3px;
  padding-bottom: 5px;
}

.header__nav__button {
  position: absolute;
  right: 4px;
  font-size: 1.2rem;
  color: variables.$font-white;
  padding-top: 10px;
}

.main__h1 {
  text-align: center;
  padding: 40px;
  color: variables.$dark-red;
}

.footer__nav {
  display: flex;
  justify-content: space-evenly;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: variables.$dark-red;
}

.footer__nav__button {
  height: 40px;
  width: 40px;
}

.footer__nav__button__img {
  width: 100%;
}
