@use 'base';
@use 'variables';

.footer__nav {
  display: flex;
  justify-content: space-evenly;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: variables.$footer-background-color;
}

.footer__nav__button {
  height: 50px;
  width: 50px;
}

.footer__nav__button__img {
  width: 100%;
}
